/TFI_DispositivoIoT_ConfigRed/dist/
/TFI_DispositivoIoT_ConfigRed/build/

# Ignorar archivo de variables de entorno
.env

# Ignorar archivos de configuración locales
*.log
*.tmp

# Ignorar carpetas de build
/build/
/dist/
/nbproject/private/
/test/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

